{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps/*"]}.

%% Build a release when compiling
%% {post_hooks,[{compile, "./relx"}]}.

%% Live dangerously, everything's master branch
{deps, [
  {peeranha, ".*", {git, "https://github.com/ferd/peeranha.git", {branch, "master"}}},
  {recon, ".*", {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
  {file_monitor, ".*", {git, "https://github.com/richcarl/file_monitor.git", {branch, "master"}}},
  {bootstrap, ".*", {git, "https://github.com/schlagert/bootstrap.git", {branch, "master"}}}
]}.
