{paths, ["apps", "deps"]}.
{default_release, figsync, "0.1.0"}.

%% comment this line for a release that ships its own Erlang VM
{include_erts, false}.
%% uncomment this line to ship a release without the source code included
{include_src, false}.


{release, {figsync, "0.1.0"},
 %% list of apps to include
 [ % fill this in with apps when they are added
  recon]}.
